<div class="pizza-modal">
    <button class="close-modal" @click="cancel">&times;</button>
    <div class="modal-content">
        <section class="pizza-modal-group">
            <h1 class="modal-title">
                {{ dish.name }}
                <span v-if="order.variant">({{ order.variant }})</span>
            </h1>
            <!-- <p>{{ dish.description }}</p> -->

            <!-- <p class="radio-toggle" v-if="dish.variants.length > 1" style="margin-bottom: 12px;">
                <template v-for="(index, variant) in dish.variants">
                    <input id="modal-extra-variant-{{ index }}" type="radio" name="variants" v-model="order.variant" value="{{ variant.name }}">
                    <label for="modal-extra-variant-{{ index }}">{{ variant.name }} - {{ variant.price }} Ft</label>
                </template>
            </p> -->

            <p class="radio-group" v-if="dish.options" v-for="(idx, option) in dish.options" style="margin-bottom: 12px;">
                <b style="margin-right: 4px;">{{ option.name }}:</b>
                <template v-for="(index, name) in option.list">
                    <br><input id="modal-extra-variant-{{ idx }}-{{ index }}" type="radio" name="option-{{ idx }}" v-model="selectedOptions[idx]"  value="{{ name }}"><label for="modal-extra-variant-{{ idx }}-{{ index }}">{{ name }}</label>
                </template>
            </p>
        </section>

        <div class="pizza-modal-group" v-if="availableExtras && availableExtras.length">
            <h4>Kiválasztott extrák</h4>
            <span v-if="order.extras.length === 0">Még nem választottál extrát.</span>
            <a class="selected-extra" href="#" v-for="extra in order.extras" @click.prevent="removeExtra(extra)">{{ extra.name }}&nbsp;({{ extra.price }}&nbsp;Ft)</a>
        </div>

        <section class="actions">
            <span class="total-price"><b>{{ totalPrice }} Ft</b></span>
            <button class="btn-primary" @click="addToCart"><svg class="icon-cart"><use xlink:href="#icon-cart"></use></svg> Kosárba</button>
        </section>
    </div>

    <div class="modal-content" style="background-color: #f1f1f1;">
        <section v-if="availableExtras && availableExtras.length">
            <h3 style="margin-top: 12px; margin-bottom: 12px;">Választható extrák</h3>
            <div class="pizza-modal-group" v-for="extra in availableExtras">
                <h4>{{ extra.name }}&nbsp;({{ extra.price }}&nbsp;Ft):</h4>
                <a class="available-extra" v-for="item in extra.list" @click.prevent="addExtra(extra.name, item, extra.price)" href="#">{{ item }}</a>
            </div>
        </section>
    </div>
</div>
