<div class="modal-backdrop" id="{{ id }}">
    <div class="modal-window">
        <header>
            <h1 style="font-size: 1.25rem; margin: 0;">Válassz feltétet!</h1>
            <button data-close>&times;</button>
        </header>
        <div class="modal-body">
            <label>Méret</label>
            <div class="radio-toggle">
                <input name="q" id="x" type="radio" value="30cm">
                <label for="x">30cm</label>
                <input name="q" id="y" type="radio" value="40cm">
                <label for="y">40cm</label>
                <input name="q" id="z" type="radio" value="50cm">
                <label for="z">50cm</label>
            </div>

            <textarea rows="2" style="width: 100%;"></textarea>

            <h2>Feltétek</h2>
            <h3>Húsok (300 Ft)</h3>
            <button>Blah</button>
            <button>Blah</button>
            <button>Blah</button>

            <h3>Húsok (450 Ft)</h3>
            <button>Blah</button>
            <button>Blah</button>
            <button>Blah</button>
        </div>
        <footer>
            <button data-close>Mégse</button>
            <button>Kosárba</button>
        </footer>
    </div>
</div>
