{{#isEmpty}}
<p class="default-content">
    A kosár még üres.
    Az ételeket a "Kosárba" gomb megnyomásával adhatod hozzá a rendeléshez.
</p>
{{/isEmpty}}

{{#lines}}
    <div class="line">
        <div class="name">{{ name }}</div>
        <div class="price">{{ price }} Ft</div>
        <div class="actions">
            <button data-duplicate-order-item="{{ id }}"><svg><use xlink:href="#icon-plus"></use></svg> Még</button>
            <button data-remove-order-item="{{ id }}"><svg><use xlink:href="#icon-minus"></use></svg> Ki a kosárból</button>
        </div>
    </div>
{{/lines}}

{{#deliveryFee}}
<div class="delivery-fee">
    <div>Kiszállítási díj</div>
    <div>{{ deliveryFee }} Ft</div>
</div>
{{/deliveryFee}}

{{#total}}
<div>Végösszeg</div>
<div>{{ total }} Ft</div>
{{/total}}

{{#showMinForFreeDeliveryMessage}}
<p>A minimális {{ minForFreeDelivery }} Ft rendelési értéket még nem érted el.</p>
{{/showMinForFreeDeliveryMessage}}
