<section id="nyitvatartas" class="card">
    <h2 class="card-title">Nyitvatartás</h2>
    <div class="card-content">
        <p>Kérjük, hogy rendelésedet egy adott napra legkésőbb a <b>zárás előtt 30 perccel</b> add fel.</p>
        <dl class="opening-hours">
            <dd>Hétfő</dd><dt>11:00 - 22:00</dt>
            <dd>Kedd</dd><dt>11:00 - 22:00</dt>
            <dd>Szerda</dd><dt>11:00 - 22:00</dt>
            <dd>Csütörtök</dd><dt>11:00 - 22:00</dt>
            <dd>Péntek</dd><dt>11:00 - 23:00</dt>
            <dd>Szombat</dd><dt>11:00 - 23:00</dt>
            <dd>Vasárnap</dd><dt>11:00 - 21:00</dt>
        </dl>
    </div>
</section>
