<section id="side-cart" class="card">
    <h2 class="card-title">Kosár</h2>
    <div class="cart-content">
        <div class="cart-calculation"></div>

        {# <p class="default-content">
            A kosár még üres.
            Az ételeket a "Kosárba" gomb megnyomásával adhatod hozzá a rendeléshez.
        </p> #}
        <table class="items"></table>
        <form class="order-form">
            <label for="city">Város</label>
            <select id="city" name="city">
                <option>Gyöngyös</option>
                <option>Karácsondi úti gyártelep</option>
                <option>KRF Kollégium</option>
                <option>Abasár</option>
                <option>Detk</option>
                <option>Gyöngyöshalász</option>
                <option>Gyöngyössolymos</option>
                <option>Gyöngyöstarján</option>
                <option>Mátrafüred</option>
                <option>Nagyréde</option>
                <option>Pálosvörösmart</option>
                <option>Visonta</option>
            </select>

            <label for="name">Neved</label>
            <input type="text" name="name" id="name">

            <label for="street">Utca, házszám</label>
            <input type="text" name="street" id="street">

            <label for="phone">Telefonszámod</label>
            <input type="text" name="phone" id="phone">

            <label for="notes">Megjegyzések</label>
            <textarea rows="3" name="notes" id="notes" placeholder="Egyéb megjegyzés, pl. pontos helszín (belső udvar, emelet) stb."></textarea>
            <button class="order" disabled>Megrendelés</button>
        </form>
    </div>
</section>
