<section id="kapcsolat" class="card">
    <h2 class="card-title">Kapcsolat</h2>
    <div class="card-content">
        <address class="meex-address">
            <p class="phone">+36 30 211 12 12</p>
            <img class="logo" src="images/logo_opt.jpg">
            <p>
                <b>Meex Pizza & Food</b><br>
                3200 Gyöngyös, Orczy&nbsp;út&nbsp;1.<br>
                <a href="mailto:info@meexpizza.hu">info@meexpizza.hu</a><br>
                <a href="http://www.meexpizza.hu">www.meexpizza.hu</a>
            </p>
            <a class="meex-map" href="https://maps.google.com/?q=47.785625,19.932675" rel="external" target="_blank" is="google-map" title="Meexpizza a térképen"><p>Kattints a nagyobb térképhez!</p></a>
        </address>
    </div>
</section>
