{% extends "layout.html" %}

{% block body %}
<main class="container">
    <div id="menucard">
        {% for cat in menu.menu %}
        <section id="{{ cat.id }}" class="menu-category">
            <h2>{{ cat.name }}</h2>
            <ul>
            {% for item in cat.items %}
                <li class="item">
                    <div class="img">
                        {# <img data-src="http://lorempixel.com/120/120/?{{ item.price }}{{ item.name }}" class="lazyload" width="60" height="60"> #}
                        <img data-src="food-images/small/{{ item.imageName }}.jpeg" class="lazyload">
                    </div>
                    <div class="text">
                        <div class="in-cart-count">2&times;</div>
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.text }}</p>
                    </div>
                    <div class="prices">
                        {% if item.hasMultiVariants %}
                            <select>
                                {% for variant, variantprice in item.variants %}
                                    <option>{{ variant }} - {{ variantprice }} Ft</option>
                                {% endfor %}
                            </select>
                            <button data-add-to-cart><i class="icon-crt-inv"></i> Kosárba</button>
                        {% else %}
                            {% for variant, variantprice in item.variants %}
                                <div>{{ variant }} - <b>{{ variantprice }} Ft</b></div><button data-add-to-cart><i class="icon-crt-inv"></i> Kosárba</button>
                            {% endfor %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </div>
    <aside id="cart">
        <div>Üres</div>
    </aside>
</main>
<div style="width: 100%; position: fixed; bottom: 32px;">
    <button style="display: block; width: 80%; margin: 0 auto; background-color: #091F44; border: 1px solid #fff !important; display: block; padding: 8px 0; font-size: 1.125rem; color: #fff; font-weight: 700; border: 0;">Megrendelés</button>
</div>
{% endblock %}
