<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <title>Meexpizza Gyöngyös</title>
    <meta name="description" content="Pizza házhozszállítás a hét minden napján - Gyöngyösön és környékén. Harapj bele Amerikába!">
    <link rel="canonical" href="http://www.meexpizza.hu/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Russo+One&subset=latin,latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext">
    <link rel="stylesheet" href="main.css?v1">
    <script src="main.js?v2" async></script>
    {% block meta %}{% endblock %}
    {% include "meta-favicon.html" %}
</head>
<body>
    <div id="mainpage">
        {% include "icons.html" %}
        {% include "navigation.html" %}

        <div class="container">
            <main>{% block body %}{% endblock %}</main>
            <aside id="side-cart-container">
                <div id="shopping-cart-placeholder"></div>
                {% include "partials/side-contact.html" %}
                {% include "partials/side-opening-hours.html" %}
                {% include "partials/side-facebook.html" %}
            </aside>
        </div>

        {% include "footer.html" %}
    </div>
</body>
</html>
