section.card
  shopping-cart

section.card
  h2.card-title Kapcsolat
  .card-content
    address.meex-address
      p.phone +36 30 211 12 12
      img.logo(src='images/logo_opt.jpg')
      p
        b Meex Pizza & Food
        br
        |                 3200 Gyöngyös, Orczy út 1.
        br
        a(href='mailto:info@meexpizza.hu') info@meexpizza.hu
        br
        a(href='http://www.meexpizza.hu') www.meexpizza.hu
      google-map(title='Meexpizza a térképen', href='https://maps.google.com/?q=47.785625,19.932675')

fb-box(page='MeexPizza', height=500)
