.page-container
  .brand
    a(href='/', title='Meexpizza - Gyöngyös') Meexpizza

  .navigation
    .overflow-arrow
    nav.site-navigation
      a(href='#klasszikus-pizzak') Pizza
      a(href='#tesztak') Tészta
      a(href='#hamburgerek') Hamburger
      a(href='#salatak') Saláta
      a(href='#edessegek') Édesség
      a(href='#uditok') Üdítő

closed-message
