<div class="shopping-cart">
    <h2 class="card-title">Kosár</h2>

    <p v-if="isEmpty">A kosár még üres. Az ételeket a "Kosárba vele" gomb megnyomásával adhatod hozzá a rendeléshez.</p>

    <div v-if="!isEmpty">
        <ul>
            <li v-for="item in order.items" class="order-item">
                <div class="order-item-line">
                    <h3 class="item-name">{{ item.name }} {{ item.variant }}</h3>
                    <div class="item-price">{{ item.price }} Ft</div>
                </div>

                <div v-for="(name, extra) in item.extras.required" class="order-item-line">
                    {{ extra.selection }}
                </div>

                <div v-for="(name, extra) in item.extras.optional" class="order-item-line">
                    <div class="item-name">{{ extra.selection.join(', ') }}</div>
                    <div class="item-price">{{ extra.price * extra.selection.length }} Ft</div>
                </div>

                <div class="actions">
                    <button @click="duplicate(item)" class="btn-duplicate" title="még egyet"><svg class="icon-cart" style="fill: #333;"><use xlink:href="#icon-plus"></use></svg></button>
                    <button @click="remove(item)" class="btn-remove" title="nem kérem"><svg class="icon-cart" style="fill: #333;"><use xlink:href="#icon-minus"></use></svg></button>
                </div>
            </li>

            <li v-if="order.deliveryFee" class="order-item">
                <div class="order-item-line">
                    <div class="item-name">Kiszállítási díj:</div>
                    <div class="item-price">{{ order.deliveryFee }} Ft</div>
                </div>
            </li>

            <li v-if="!order.minOrderValueReached" class="order-item">
                <div class="order-item-line" style="color: red;">
                    Még nem érted el a minimális rendelési értéket ({{ order.minOrderValue }} Ft).
                </div>
            </li>

            <li class="order-item grand-total">
                <div class="order-item-line">
                    <div class="item-name">Végösszeg</div>
                    <div class="item-price">{{ order.grandTotal }} Ft</div>
                </div>
            </li>
        </ul>

        <div v-if="!isEmpty">
            <form @change="updateAddress" @submit.prevent="submitOrder">
                <label class="required">
                    Város
                    <select v-model="address.city">
                        <option v-for="(city, fee) in order.deliveryFees" :value="city">{{ city }}</option>
                    </select>
                </label>

                <label class="required error">
                    Cím
                    <input type="text" v-model="address.street">
                </label>

                <label class="required success">
                    Név
                    <input type="text" v-model="address.name">
                </label>

                <label class="required">
                    Telefonszám
                    <input type="text"v-model="address.phone">
                </label>

                <label>
                    Megjegyzés
                    <textarea rows="3" v-model="address.notes"></textarea>
                </label>

                <button type="submit" :disabled="!validate()">Megrendelés</button>
            </form>
        </div>
    </div>
</div>
