$max-width-L: 1280px;

@import url(https://fonts.googleapis.com/css?family=Russo+One&subset=latin,latin-ext);
// @import url(https://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin,latin-ext);
// @import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300&subset=latin,latin-ext);

@import 'site-header';
@import 'site-footer';

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    @media screen and (min-width: 768px) {
        font-size: 1.125rem;
    }
}

body {
    // font-family: Arimo;
    // font-family: Oswald;
    // font-family: Source Sans Pro;
    font-family: Open Sans;
    // font-family: Lato;
    color: #333;
    line-height: 1.35;
    font-size: 0.875rem;

    // background-color: #f1f1f1;
    // background-color: #fff;
}

@media screen and (min-width: 1024px) {
    body {
        background-color: #091F44;
        background-image: url(/images/bg2.jpg);
        background-image: url(/images/pattern7.png), url(/images/meexbg_4.jpg);
        background-repeat: repeat, no-repeat;
        background-position: center top, center top;
    }
}

a {
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: Russo One;
}

h2 {
    font-size: 1.5rem;
    padding: 0.5em 0;
}

select, button {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background: none;
    border: 0;
    border-radius: 4px;
    padding: 2px 4px;
    border: 1px solid #ccc;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}


.icon-crt {
    background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3ltYm9sIGlkPSJhIiB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0Ij48cGF0aCBjbGFzcz0icGF0aDEiIGQ9Ik0zODQgOTI4YzAgNTMuMDItNDIuOTggOTYtOTYgOTZzLTk2LTQyLjk4LTk2LTk2IDQyLjk4LTk2IDk2LTk2IDk2IDQyLjk4IDk2IDk2eiIvPjxwYXRoIGNsYXNzPSJwYXRoMiIgZD0iTTEwMjQgOTI4YzAgNTMuMDItNDIuOTggOTYtOTYgOTZzLTk2LTQyLjk4LTk2LTk2IDQyLjk4LTk2IDk2LTk2IDk2IDQyLjk4IDk2IDk2eiIvPjxwYXRoIGNsYXNzPSJwYXRoMyIgZD0iTTEwMjQgNTEyVjEyOEgyNTZjMC0zNS4zNDYtMjguNjU0LTY0LTY0LTY0SDB2NjRoMTI4bDQ4LjA3NCA0MTIuMDU0QzE0Ni43OCA1NjMuNTEyIDEyOCA1OTkuNTU0IDEyOCA2NDBjMCA3MC42OTYgNTcuMzA4IDEyOCAxMjggMTI4aDc2OHYtNjRIMjU2Yy0zNS4zNDYgMC02NC0yOC42NTQtNjQtNjQgMC0uMjE4LjAxNC0uNDM2LjAxNi0uNjU2TDEwMjQgNTEyeiIvPjwvc3ltYm9sPjx1c2UgeGxpbms6aHJlZj0iI2EiLz48L3N2Zz4=');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-crt-inv {
    background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3ltYm9sIGlkPSJhIiB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiBmaWxsPSIjZmZmIj48cGF0aCBjbGFzcz0icGF0aDEiIGQ9Ik0zODQgOTI4YzAgNTMuMDItNDIuOTggOTYtOTYgOTZzLTk2LTQyLjk4LTk2LTk2IDQyLjk4LTk2IDk2LTk2IDk2IDQyLjk4IDk2IDk2eiIvPjxwYXRoIGNsYXNzPSJwYXRoMiIgZD0iTTEwMjQgOTI4YzAgNTMuMDItNDIuOTggOTYtOTYgOTZzLTk2LTQyLjk4LTk2LTk2IDQyLjk4LTk2IDk2LTk2IDk2IDQyLjk4IDk2IDk2eiIvPjxwYXRoIGNsYXNzPSJwYXRoMyIgZD0iTTEwMjQgNTEyVjEyOEgyNTZjMC0zNS4zNDYtMjguNjU0LTY0LTY0LTY0SDB2NjRoMTI4bDQ4LjA3NCA0MTIuMDU0QzE0Ni43OCA1NjMuNTEyIDEyOCA1OTkuNTU0IDEyOCA2NDBjMCA3MC42OTYgNTcuMzA4IDEyOCAxMjggMTI4aDc2OHYtNjRIMjU2Yy0zNS4zNDYgMC02NC0yOC42NTQtNjQtNjQgMC0uMjE4LjAxNC0uNDM2LjAxNi0uNjU2TDEwMjQgNTEyeiIvPjwvc3ltYm9sPjx1c2UgeGxpbms6aHJlZj0iI2EiLz48L3N2Zz4=');
    width: 16px;
    height: 16px;
    display: inline-block;
}


.menu-category {
    border-top: 1px solid #ccc;

    h2 {
        border-bottom: 1px solid #ccc;
        background-color: #f1f1f1;
        padding: 12px;
    }

    h3 {
        font-size: 1rem;
        line-height: 1.2;
    }

    .item {
        padding: 12px;
        font-size: 0;

        // background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        // background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,.9) 47%, rgba(237,237,237,.58) 100%);
        background: linear-gradient(to bottom, #fff 0%, #f1f1f1 50%, #f7f7f7 100%);

        &:not(:last-of-type) {
            border-bottom: 1px solid #eee;
        }
    }

    .img {
        width: 20%;
        display: inline-block;
        position: relative;

        img {
            border-radius: 1px;
        }
    }

    .text {
        width: 76%;
        margin-left: 4%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.875rem;
    }

    .in-cart-count {
        display: inline-block;
        color: red;
        font-weight: bold;
        float: right;
        margin-left: 8px;
    }

    .prices {
        margin-top: 8px;
        border-radius: 2px;
        font-size: 0.875rem;
        text-align: right;

        div {
            display: inline-block;
        }

        /*display: flex;
        flex-direction: row;
        justify-content: space-around;

        i {
            flex-grow: 1;
        }*/

        font-size: 0.875rem;

        button {
            border: 0;
            background: none;
            border-left: 1px solid #ccc;
            text-align: center;
            padding: 4px 8px;
            margin-left: 8px;

            background-color: #f5f5f5;
            background-color: #444;
            color: #fff;
            font-weight: 600;
            border-radius: 2px;

            background-color: #5cb85c;
            border-color: #4cae4c;

            i {
                height: 12px;
            }

            &:hover {
                background-color: #449d44;
                border-color: #398439;
            }
        }
    }
}

.nanoModal.nanoModalOverride {
    position: fixed;
    backface-visibility:hidden;
}

/*
#menucard {
    @media screen and (min-width: 1024px) {
        display: table-cell;
        width: 75%;
        vertical-align: top;
        padding-right: 16px;

        section {
            padding: 0 20px 20px;
            background-color: #fff;
            box-shadow: 0 0 3px rgba(127, 127, 127, .2);
            box-shadow: 0 0 4px rgba(0, 0, 0, .4);
            border-radius: 2px;
        }
    }
}

#cart {
    display: table-cell;
    vertical-align: top;
    width: 25%;
    padding-left: 16px;

    & > div {
        min-height: 300px;
        padding: 0 20px 20px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(127, 127, 127, .2);
        border-radius: 2px;
    }
}

.item {
    overflow: hidden;
    margin: 18px 0 0;
}

.image {
    float: left;
    width: 15%;
    overflow: hidden;
    font-size: 0;
    //
    // img {
    //     border-radius: 100%;
    // }
}

.text {
    float: left;
    width: 55%;
}

.buy {
    float: left;
    width: 30%;
}

h2 {
    border-bottom: 1px solid #ccc;

    background-color: #f1f1f1;
    margin: 0 -20px;
    padding: 20px;
}

button {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
    font-size: 1rem;
    font-family: Arial;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;

    &:hover {
        background-color: #eee;
    }
}
*/
