$menu-height: 60px;

.site-header {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 100%;
    position: relative;

    @media screen and (min-width: 1024px) {
      padding-right: 16px;
    }

    .brand {
        display: block;
        text-align: center;
        border-bottom: 1px solid #ddd;
        background-color: #f1f1f1;

        a {
            display: inline-block;
            font-family: Russo One;
            text-decoration: none;
            font-size: 1.25rem;
            color: #282F49;
            line-height: 1;
            padding: 16px;
        }
    }

    .navigation {
      position: relative;
      max-width: 1100px;
      margin: 0 auto;
      background-color: #fff;

      @media (max-width: 768px) {
        &:before, &:after {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          height: 100%;
          width: 20px;

          background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3IiBoZWlnaHQ9IjEzIj48cGF0aCBkPSJNMCAxMi41bC41LjVMNyA2LjUuNSAwIDAgLjU5NCA2IDYuNWwtNiA2eiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
          background-repeat: no-repeat;
          background-position: center center;;
        }

        &:after {
          right: 0;
        }

        &:before {
          left: 0;
          transform: rotate(180deg);
        }
      }
    }

    nav {
      display: flex;
      overflow: auto;
      position: relative;

      a {
        font-weight: 600;
        color: material-color('red', '900');
        padding: 16px;
        line-height: 1;
      }
    }

    @media screen and (min-width: 1024px) {
      .page-container {
        display: flex;
        flex-direction: row;
        font-size: 1.25rem;
      }

      .brand {
        border: 0;
        flex: 0 0 160px;
      }

      .navigation {
        flex: 1;
      }
    }
}
