#site-footer {
  background-color: #091F44;
  color: #fff;
  padding: 16px 0;
  text-align: center;

  span {
    display: block;

    @media screen and (min-width: 1024px) {
      &:not(:last-of-type):after {
        content: '•';
        display: inline-block;
        color: #fff;
        margin: 0 20px;
      }

      display: inline;
    }
  }
}
