$menu-height: 60px;

.site-header {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 100%;
    position: relative;
    // background-color: #f1f1f1;

    .brand {
        display: block;
        text-align: center;
        border-bottom: 1px solid #ddd;
        background-color: #f1f1f1;

        a {
            display: inline-block;
            font-family: Russo One;
            text-decoration: none;
            font-size: 1.25rem;
            color: #282F49;
            line-height: 1;
            padding: 16px;
        }
    }

    .navigation {
      position: relative;
      // padding-right: 20px;
      max-width: 1100px;
      margin: 0 auto;
      background-color: #fff;
    }

    // .overflow-arrow {
    //   display: block;
    //   width: 20px;
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3IiBoZWlnaHQ9IjEzIj48cGF0aCBkPSJNMCAxMi41bC41LjVMNyA2LjUuNSAwIDAgLjU5NCA2IDYuNWwtNiA2eiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
    //   background-color: #fff;
    //   background-repeat: no-repeat;
    //   background-position: center center;
    //   box-shadow: -4px 0 8px rgba(127, 127, 127, .1);
    //   z-index: 1;
    //
    //   @media (min-width: 1024px) {
    //     display: none;
    //   }
    // }

    nav {
      display: flex;
      overflow: auto;
      position: relative;

      a {
        font-weight: 600;
        color: material-color('red', '900');
        padding: 16px;
        line-height: 1;
      }
    }

    @media screen and (min-width: 1024px) {
      .page-container {
        display: flex;
        flex-direction: row;
        font-size: 1.25rem;
      }

      .brand {
        border: 0;
        // max-width: 160px;
        flex: 0 0 160px;
      }

      .navigation {
        flex: 1;
      }
    }
}
